/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button_chucnang1{

  /*  -fx-opacity: 0;*/
    -fx-background-color: #89005a;
    -fx-background-radius: 10px;
    -fx-text-fill:#f0f2f5 ;
    -fx-cursor: not-allowed;

}
.button_chucnang1:hover{
    -fx-background-color: #f0f2f5;
    -fx-text-fill: #000000;
    -fx-opacity: 0.2;
    -fx-border-color: #89005a;
    -fx-border-radius: 10px;
    -fx-border-width: 3.5px;


}

.button_chucnang2{

    /*  -fx-opacity: 0;*/
    -fx-background-color: #fff8dd;
    -fx-background-radius: 10px;
    -fx-border-color: #89005a;
    -fx-border-radius: 10px;
    -fx-border-width: 3.5px;
    -fx-text-fill: #89005a;
    -fx-cursor: not-allowed;

}
.button_chucnang2:hover{
    -fx-background-color: #f0f2f5;
    -fx-text-fill: #000000;
    -fx-opacity: 0.2;


}


.vbox_chucnang{
    -fx-background-color: #fff8dd;
   /* -fx-background-image: url("anhmenuchucnang.png");*/
}
.leftPaneLogin{
    -fx-background-image: url("3dlogin.png");
}
.anChorpane {
    -fx-background-color: #38466b  ;
    -fx-background-radius: 10 ;
}
/*#38466b*/
.icon{
    -fx-fill: #1b74e4;
}
.pane {
    -fx-background-color : #f0f2f5;
    -fx-background-radius: 8px;
}
/*.vbox2ben{
    -fx-background-image: url("hinh-nen-anime-4k-dep-15.jpg") ;
    /*-fx-background-image: url("welcome.jpg");
}*/

.button1
{
    -fx-background-color : #ef3575;
    -fx-background-radius : 10;
}
.button1:hover
{
    -fx-background-color : #524A7B ;
    -fx-background-radius :  10;
}
.button1:pressed
{
    -fx-background-color : #2F2B43 ;
    -fx-background-radius :  10;
}

.button2
{
    -fx-background-color :  #1877f2;
    -fx-background-radius : 10;
}
.button2:hover
{
    -fx-background-color :  #4227b8 ;
    -fx-background-radius :  10;
}
.button2:pressed
{
    -fx-background-color : #2F2B43 ;
    -fx-background-radius :  10;
}
.huy1{
    -fx-background-color: #f0f2f5;
}
/* button3 màu của buttom facebook..*/
.button3
{
    -fx-background-color :  #f0f2f5;
    -fx-background-radius :  8px;
    -fx-text-fill: #303131;
    -fx-alignment: center_left;
}
.button3:hover
{
    -fx-background-color : #e4e6e8 ;
}
.button3:pressed
{
    -fx-background-color : #d8d9dc ;
}
.button3:focused
{
    -fx-background-color: #d8d9dc;
}
.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.info__pane{
    -fx-background-color: #666666;
    -fx-background-radius: 8px;
}

.trang__chu__button{
    -fx-background-color: #E4E6EB;
    -fx-text-fill: #1D1F23;
}

.left__home__pane{
    -fx-background-color: #666666;
}

.home__button{
    -fx-background-color: #E4E6EB;
    -fx-text-fill: #1D1F23;
}



